<h1>seats</h1>
<div id="seats">
  <ul>
    <input type="checkbox" id="cbox1" value="first_checkbox">
    <label for="cbox1">1A</label>
  </ul>
  <ul>
    <input type="checkbox" id="cbox2" value="second_checkbox">
    <label for="cbox2">1B</label>
  </ul>
  <ul>
    <input type="checkbox" id="cbox3" value="third_checkbox">
    <label for="cbox3">1C</label>
  </ul>
</div>

<div>
  <button type="Condirm" name="seat_confirm" id="seat_confirm" bg-black>送出</button>

</div>