<h1>seats</h1>
<div id="seats">
<ul>
  <input type="checkbox" id="cbox1" value="first_checkbox">
  <label for="cbox1">1A</label>
</ul>
<ul>
  <input type="checkbox" id="cbox2" value="second_checkbox" checked="checked">
  <label for="cbox2">1B</label>
</ul>
</div>
