<div data-controller = "seat" data-seat-target="seat_info" data-action="click->seat#check" data-seat_id="<%= f.id %>"
    data-ticket_serial="<%= f.ticket_serial%>", class="">  
  <% if f.vaccant? %>  
    <img src="/images/black_seat_big.png">
  <% elsif f.occupied? %>
    <img src="/images/red_seat_big.png">
  <%else%>
    <img src="/images/full_black_seat.png">
  <% end %>
</div>    