<div class=" h-500"></div>
<h1>seats</h1>
  <div id="seats" class="w-full h-32  " >
    <div class="w-4/5 h-25  " >
      <% @seat.each do |f| %>    
        <%if f.area=="A" %>
          <%= render partial: "seat", locals:{f: f}%>
        <% end %>
      <% end %>
    </div>

    <div  class="w-4/5 h-25 " >
      <% @seat.each do |f| %>
        <%if f.area=="B" %>
          <%= render partial: "seat", locals:{f: f}%>
        <% end %>
      <% end %>
    </div>


    <div  class="w-4/5 h-25" >
      <% @seat.each do |f| %>
        <%if f.area=="C" %>
          <%= render partial: "seat", locals:{f: f}%>
        <% end %>
      <% end %>
    </div>  
  </div>
</div>

<div>
  <button type="Condirm"  bg-black data-action="click->seat#booked">送出</button>
</div>