<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@iconscout/unicons@3.0.6/css/line.css">

<footer class="bg-dark-400 pt-10 sm:mt-0 ">
    <div class="container max-w-6xl m-auto text-gray-800 flex flex-wrap ">
        <!-- Col-1 -->
        <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
            <!-- Col Title -->
            <div class="border-b border-gray-300 text-m uppercase text-gray-300 font-medium mb-6">
                關於星辰
            </div>

            <!-- Links -->
            <a href="" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
            <%= link_to "認識星辰", about_path%>
            </a>
            <a class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                媒體中心
            </a>
            <a class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                旅遊須知
            </a>
            <a class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                加入團隊
            </a>
            <a class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                網站導覽
            </a>
            
        </div>

        <!-- Col-2 -->
        <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
            <!-- Col Title -->
            <div class="border-b border-gray-300 text-s uppercase text-gray-300 font-medium mb-6">
                條款宣告
            </div>

            <!-- Links -->
            <a class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                運送條款
            </a>
            <a class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                隱私保護政策
            </a>
            <a class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                COOKIE使用政策
            </a>
            <a class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                顧客服務承諾
            </a>
            <a class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                智慧財產權、網站應用程式使用條款
            </a>
            <a class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                機坪延誤應變計畫
            </a>
            <a class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                智慧財產權管理計畫
            </a>
        </div>

        <!-- Col-3 -->
        <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
            <!-- Col Title -->
            <div class="border-b border-gray-300 text-s uppercase text-gray-300 font-medium mb-6">
                相關網站
            </div>

            <!-- Links -->
            <a class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                免稅品購物
            </a>
            <a class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                機上雜誌
            </a>
            <a class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                星辰小舖
            </a>
            
        </div>

        <!-- Col-3 -->
        <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
            <!-- Col Title -->
            <div class="border-b border-gray-300 text-s uppercase text-gray-300 font-medium mb-6">
                Community
            </div>

            <!-- Links -->
            <a class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                GitHub
            </a>
            <a class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Discord
            </a>
            <a class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Twitter
            </a>
            <a class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                YouTube
            </a>
        </div>
    </div>

    <!-- Copyright Bar -->
    <div class="pt-2">
        <div class="flex pb-5 px-3 m-auto pt-5 
            border-t border-gray-300 text-gray-300 text-sm 
            flex-col md:flex-row max-w-6xl">
            <div class="mt-2">
                © Copyright 2021-year. All Rights Reserved.
            </div>

            <!-- Required Unicons (if you want) -->
            <div class="md:flex-auto md:flex-row-reverse mt-2 flex-row flex">
                <a class="w-6 mx-1">
                    <i class="uil uil-facebook-f"></i>
                </a>
                <a class="w-6 mx-1">
                    <i class="uil uil-twitter-alt"></i>
                </a>
                <a class="w-6 mx-1">
                    <i class="uil uil-youtube"></i>
                </a>
                <a class="w-6 mx-1">
                    <i class="uil uil-linkedin"></i>
                </a>
                <a class="w-6 mx-1">
                    <i class="uil uil-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
