<div class="bg-dark-900 ">
    <div class="container p-5 text-gray-300 body-font ">
        <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-gray-400	flex flex-wrap items-center justify-between text-base ">
            <a class="mr-5">預定行程</a>
            <a class="mr-5">班機時刻</a>
            <a class="mr-5">準備啟程</a>
            <a class="mr-5">體驗星辰</a>
            <a class="mr-5">COSMILE會員</a>
            <a class="mr-5">旅客支援</a>
        </nav>
    </div>
</div>
