<div class="absolute w-full bg-dark-900 bg-opacity-80 mt-28 z-30">
  <div class="container text-gray-300 body-font ">
        <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-gray-400	flex flex-wrap items-center justify-between text-base ">
            <a class="mr-5">預定行程</a>
            <%= link_to "查詢航班", tickets_path, class:"mr-5" %>
            <a class="mr-5">準備啟程</a>
            <a class="mr-5">體驗星辰</a>
            <%=link_to "ASTROMILE會員", new_user_registration_path, class:"mr-5" %>
            <a class="mr-5">旅客支援</a>
        </nav>
    </div>
</div>
