<section class="mt-20" class="rounded-lg shadow-lg bg-gray-500 w-full flex flex-row flex-wrap p-3 antialiased" style="
background-image: url('https://images.unsplash.com/photo-1578836537282-3171d77f8632?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
background-repeat: no-repat;
background-size: cover;
background-blend-mode: multiply;
">
  <div class="container flex flex-col items-center px-5 py-16 mx-auto  md:flex-row lg:px-28">
      <div class="flex flex-col items-start w-full pt-0 mb-16  text-left  lg:flex-grow md:w-1/2 xl:mr-20 md:pr-24 md:mb-0">
      <h1 class="mb-8 text-2xl font-black tracking-tighter text-white  md:text-5xl title-font"> CelAstro Airlines. Fly High. Live Life! </h1>
      <p class="mb-8 text-md leading-relaxed text-left text-white"> CelAstro Airlines is a pseudo-airline website created as web a project by 5 coding newbies. The site is built with Ruby on Rails, one of the most efficient framework to-date, integrated with multiple useful functions to elevate UX. Our goal is to demonstrate our abilities to build a functioning yet fun website, within an intense one-month timeframe.</p>
      <p class="w-full mt-2 mb-8 text-md italic text-left text-white"> No one's mental health was damaged throughout the entire process ㋡  </p>
      </div>
      <div class="w-full lg:w-5/6 lg:max-w-lg md:w-1/2">
        
      </div>
  </div>
</section>
<section>
  <div class="h-full bg-gray-600">
    <div class="container mx-auto  lg:px-20" >
        <div class='grid grid-cols-3 h-full pb-40'>
            <div class="border-r border-gray-300 mx-3 lg:pl-20">
                <div class=" py-10 pb-3 mt-72 h-4/6 relative bg-gray-400 group hover:bg-purple-200 cursor-pointer transition ease-out duration-300"> 
                    <div>
                        <div class="w-4 h-1/5 bg-gray-200	absolute right-0 -top-48  group-hover:bg-purple-50">
                        </div>
                        <div class="w-1/2 h-1/2 mx-auto object-center">
                          <img class="" src="/images/derek.png" >
                        </div>
                    </div>
                    <div class="px-7 mt-20">
                        <h1 class="text-3xl font-bold group-hover:text-purple-300 transition ease-out duration-300">Derek Yi/伊中民</h1>
                        <h2  class="text-1xl mt-4 font-bold">票務/搜尋/訂單/前端/UI</h2>
                        <p class="mt-2 opacity-60 group-hover:opacity-70 "><a href="https://github.com/DerekYicmy">Github</a> / <a href="https://www.linkedin.com/in/chung-minderek-yi/">LinkedIn</a> </p>
                        <p>chungmin18@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="border-r border-gray-300 mx-3 lg:pl-20">
                <div class=" py-10  pb-3 mt-32 h-4/6 relative bg-gray-300 group hover:bg-indigo-200 cursor-pointer transition ease-out duration-300"> 
                    <div>
                        <div class="w-4 h-1/5 bg-gray-300	absolute right-0 -top-48   group-hover:bg-indigo-50"></div>
                        <div class="w-1/2 h-1/2 mx-auto object-center">
                          <img class="" src="/images/elly.png" >
                        </div>
                    </div>
                   <div class="px-7 mt-20">
                        <h1 class="text-3xl font-bold group-hover:text-indigo-300 transition ease-out duration-300">Elly Wu/吳宛璉</h1>
                        <h2  class="text-1xl mt-4 font-bold">前端/寄發信/簡報設計</h2>
                        <p class="mt-2 opacity-60 group-hover:opacity-70 "><a href="https://github.com/EllyWu1115">Github</a></p>
                        <p>lian1115.lw@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="border-r border-gray-300 mx-3 lg:pl-20">
                <div class=" py-10 pb-3 mt-5 h-4/6 relative bg-gray-500 group hover:bg-orange-100 cursor-pointer transition ease-out duration-300"> 
                     <div>
                        <div class="w-4 h-1/5 	absolute right-0 -bottom-44 bg-gray-100 group-hover:bg-orange-100"></div>
                        <div class="w-1/2 h-1/2 mx-auto object-center">
                           <img class="" src="/images/ken.jpg" >
                        </div>
                    </div>
                    <div class="px-7 mt-5">
                        <h1 class="text-3xl font-bold group-hover:text-orange-200 transition ease-out duration-300">Ken Cheng/鄭凱銘</h1>
                        <h2  class="text-1xl mt-4 font-bold">金流/劃位/系統整合</h2>
                        <p class="mt-2 opacity-60 group-hover:opacity-70 "><a href="https://github.com/Cheng-Kai-Ming">Github</a></p>
                        <p>k_sky369@yahoo.com.tw</p>
                    </div>
                    
                </div>
            </div>
            <div class="border-r border-gray-300 my-3 mx-3 lg:pl-20">
              <div class=" py-10 pb-3 mt-5 h-4/6 relative bg-gray-300 group hover:bg-red-200 cursor-pointer transition ease-out duration-300"> 
                  <div>
                      <div class="w-4 h-1/5 bg-gray-50	absolute right-0 -bottom-44  group-hover:bg-red-50"></div>
                      <div class="w-1/2 h-1/2 mx-auto object-center">
                         <img class="" src="/images/iris.JPG" >
                      </div>
                  </div>
                  <div class="px-7 mt-5">
                      <h1 class="text-3xl font-bold group-hover:text-red-300 transition ease-out duration-300">Iris Kuo/郭芳瑜</h1>
                      <h2  class="text-1xl mt-4 font-bold">會員/金流/前端</h2>
                      <p class="mt-2 opacity-60 group-hover:opacity-70 "><a href="https://github.com/IrisKuo">Github</a></p>
                      <p>iriskuo0523@gmail.com</p>
                  </div>
              </div>
          </div>
            <div class="border-r border-gray-300 mx-3 lg:pl-20">
              <div class=" py-10  pb-3 mt-32 h-4/6 relative bg-gray-400 group hover:bg-indigo-200 cursor-pointer transition ease-out duration-300"> 
                  <div>
                      <div class="w-4 h-1/5 bg-gray-500	absolute right-0 -top-48   group-hover:bg-indigo-50"></div>
                      <div class="w-1/2 h-1/2 mx-auto object-center">
                         <img class="" src="/images/patty.JPG" >
                      </div>
                  </div>
                <div class="px-7 mt-20">
                      <h1 class="text-3xl font-bold group-hover:text-indigo-300 transition ease-out duration-300">Patty Cheng/鄭佩庭</h1>
                      <h2  class="text-1xl mt-4 font-bold">環境設定/購物車/網站部署</h2>
                      <p class="mt-2 opacity-60 group-hover:opacity-70 "><a href="https://github.com/pattycheng0128">Github</a></p>
                      <p>pattycheng2008@gmail.com</p>
                  </div>
              </div>
          </div>
          <div class="border-r border-gray-300 mx-3 my-3 lg:pl-20">
            <div class=" py-10 pb-3 mt-72 h-4/6 relative bg-gray-300 group hover:bg-purple-200 cursor-pointer transition ease-out duration-300"> 
                <div>
                    <div class="w-4 h-1/5 	absolute right-0 -top-48 bg-purple-100 group-hover:bg-purple-50"></div>
                    <div class="w-1/2 h-1/2 mx-auto object-center">
                      <%= image_tag 'CelAstro_Logo_with_word.png'%>
                    </div>
                </div>
                <div class="px-7 mt-20">
                    <h1 class="text-3xl font-bold group-hover:text-purple-300 transition ease-out duration-300">CelAstro Airlines</h1>
                    <h2  class="text-1xl mt-4 font-bold">Hope you enjoy the flight ✈</h2>
                    <p class="mt-2 opacity-60 group-hover:opacity-70 ">Feel free to contact us for any collabs or job opportunities ☻</p>
                    <p class="mt-2 opacity-60 group-hover:opacity-70 ">歡迎合作接洽 ☜</p>
                </div>
            </div>
        </div>
        </div>
    </div>
  </div>
</section>