
<section class="text-gray-600 body-font bg-indigo-700 mt-28">
<div class="flex flex-col ml-28 pt-10 mb-12">
  <h1 class="sm:text-3xl text-2xl font-medium title-font  text-orange-50">體驗星辰</h1>
</div> 
<section class="text-gray-600 body-font bg-indigo-900 ">
  <div class="w-full p-12">
    <div class="max-w-5xl mx-auto px-6 sm:px-6 lg:px-8">
      <div class="bg-orange-50 w-full shadow rounded p-8">
        <div class="grid grid-cols-1 gap-8 mt-6">
          <div class="flex flex-col md:flex-row">
            <div class="w-full md:w-6/12 rounded overflow-hidden">
              <div class="object w-96 h-auto">
                <img src="/images/experience1.png" class="object-center object-cover rounded-lg" >  
              </div>
            </div>
            <div class="w-full md:w-6/12 mt-4 md:mt-0 md:ml-4">
                <h2 class="text-lg font-semibold leading-tight text-gray-800">一段質感溫暖的旅程</h2>
                <p class="leading-normal pt-2">輕薄設計的椅背，在用餐時間杯盤輕碰之餘，享受空中娛樂視聽之際，個人空間也隨著感受靜靜的加大了。</p>
            </div>
          </div> 
          <div class="flex flex-col md:flex-row">
            <div class="w-full md:w-6/12 rounded overflow-hidden">
              <div class="object w-96 h-auto">
                <img src="/images/experience2.png" class="object-center object-cover rounded-lg" >
            </div>
            </div>
            <div class="w-full md:w-6/12 mt-4 md:mt-0 md:ml-4">
                <h2 class="text-lg font-semibold leading-tight text-gray-800">味蕾新感受</h2>
                <p class="leading-normal pt-2">職人合作，星辰精選，產地食材，星級創新。</p>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</section>
</section>