<%= render 'devise/shared/navbar'%>

<div id="carouselExampleCaptions" class="carousel slide relative " data-bs-ride="carousel">
 <div class="carousel-indicators absolute right-0 bottom-0 left-0 flex justify-center p-0 mb-4 ">
   <button
     type="button"
     data-bs-target="#carouselExampleCaptions"
     data-bs-slide-to="0"
     class="active"
     aria-current="true"
     aria-label="Slide 1"
   ></button>
   <button
     type="button"
     data-bs-target="#carouselExampleCaptions"
     data-bs-slide-to="1"
     aria-label="Slide 2"
   ></button>
   <button
     type="button"
     data-bs-target="#carouselExampleCaptions"
     data-bs-slide-to="2"
     aria-label="Slide 3"
   ></button>
   <button
     type="button"
     data-bs-target="#carouselExampleCaptions"
     data-bs-slide-to="3"
     aria-label="Slide 4"
   ></button>
   <button
     type="button"
     data-bs-target="#carouselExampleCaptions"
     data-bs-slide-to="4"
     aria-label="Slide 5"
   ></button>
 </div>
 <div class="carousel-inner relative w-screen overflow-hidden h-screen">
    <div class="carousel-item active relative float-left w-full">
      <img id="photo2" class="block w-full" src="/images/photo2.jpeg" > 
      <div class="carousel-caption hidden md:block absolute text-center">
      </div>
   </div>
   <div class="carousel-item relative float-left w-full">
     <img id="photo3" class="block w-full" src="/images/photo3.jpeg" >
     <div class="carousel-caption hidden md:block absolute text-center">
     </div>
   </div>
   <div class="carousel-item relative float-left w-full">
     <img id="photo5" class="block w-full" src="/images/photo5.jpeg" >
     <div class="carousel-caption hidden md:block absolute text-center">
     </div>
   </div>
   <div class="carousel-item relative float-left w-full">
     <img id="photo6" class="block w-full" src="/images/photo6.jpeg" >
     <div class="carousel-caption hidden md:block absolute text-center">
     </div>
   </div>
   <div class="carousel-item relative float-left w-full">
     <img id="photo7" class="block w-full" src="/images/photo7.jpeg" >
     <div class="carousel-caption hidden md:block absolute text-center">
   </div>
 </div>
 <button
   class="carousel-control-prev absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0"
   type="button"
   data-bs-target="#carouselExampleCaptions"
   data-bs-slide="prev"
 >
   <span class="carousel-control-prev-icon inline-block bg-no-repeat" aria-hidden="true"></span>
   <span class="visually-hidden">Previous</span>
 </button>
 <button
   class="carousel-control-next absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0"
   type="button"
   data-bs-target="#carouselExampleCaptions"
   data-bs-slide="next"
 >
   <span class="carousel-control-next-icon inline-block bg-no-repeat" aria-hidden="true"></span>
   <span class="visually-hidden">Next</span>
 </button>
</div>

<%# 探索景點 %>
<div>
  <div class="bg-dark-600 mx-auto ">
      <h2 class="text-2xl py-12 text-gray-200 text-center">探索景點</h2>
  </div>
  <div class=" grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-5 gap-6 bg-dark-600 justify-between items-center pb-10">
  <div id="img_ENGLAND" class="container w-52 mx-auto bg-white rounded-xl shadow-lg overflow-hidden hover:shadow-2xl transform hover:scale-105 duration-500 cursor-pointer ">
    <img  class="inline-block h-64 w-full " src="/images/england1.jpeg" > 
      <div class="text-center relative py-1">
        <h1 class="mb-1 text-2xl font-sans font-semibold text-gray-700 hover:text-amber-500 ">ENGLAND</h1>
        <span class="text-lg text-gray-700 hover:text-amber-500">英國</span>
      </div>
  </div>
  <div id="img_THAILAND" class="container w-52 mx-auto  bg-white rounded-xl shadow-lg overflow-hidden hover:shadow-2xl transform hover:scale-105 duration-500  cursor-pointer">
    <img class="inline-block h-64 w-full" src="/images/thailand1.jpeg" > 
    <div class="text-center relative py-1">   
      <h1 class="mb-1 text-2xl font-sans font-semibold text-gray-700 hover:text-amber-500">THAILAND</h1>
      <span class="text-lg text-gray-700 hover:text-amber-500">泰國</span>
    </div>
  </div>
  <div id="img_JAPAN" class="container w-52 mx-auto  bg-white rounded-xl shadow-lg overflow-hidden hover:shadow-2xl transform hover:scale-105 duration-500 cursor-pointer">
    <img class="inline-block h-64 w-full " src="/images/japan1.jpeg" > 
    <div class="text-center relative py-1">
      
      <h1 class="mb-1 text-2xl font-sans font-semibold text-gray-700 hover:text-amber-500">JAPAN</h1>
      <span class="text-lg text-gray-700 hover:text-amber-500">日本</span>
    </div>
  </div>
  <div class="container w-52 mx-auto  bg-white rounded-xl shadow-lg overflow-hidden hover:shadow-2xl transform hover:scale-105 duration-500 cursor-pointer">
    <img id="img_KOREA" class="inline-block h-64 w-full cursor-pointer" src="/images/korea1.jpeg" > 
    <div class="text-center relative py-1">
      
      <h1 class="mb-1 text-2xl font-sans font-semibold text-gray-700 hover:text-amber-500 cursor-pointer">KOREA</h1>
      <span class="text-lg text-gray-700 hover:text-amber-500">韓國</span>
    </div>
  </div>
  <div id="img_SINGAPROE" class="container w-52 mx-auto  bg-white rounded-xl shadow-lg overflow-hidden hover:shadow-2xl transform hover:scale-105 duration-500 cursor-pointer">
    <img class="inline-block h-64 w-full" src="/images/singaproe1.jpeg" > 
    <div class="text-center relative py-1">
      
      <h1 class="mb-1 text-2xl font-sans font-semibold text-gray-700 hover:text-amber-500 cursor-pointer">SINGAPROE</h1>
      <span class="text-lg text-gray-700 hover:text-amber-500">新加坡</span>
    </div>
  </div>
</div>

<div class="w-full bg-gray-600">
   <section class="max-w-6xl mx-auto px-3 sm:px-6 lg:px-4 py-10">
     <div class="text-center pb-12 ">
       <h1 class="text-2xl md:text-2xl lg:text-2xl font-heading text-gray-200">
           Starlights           
       </h1>
     </div>
     <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
       <div class="w-full bg-gray-800 rounded-lg sahdow-lg  flex flex-col pt-9 ">
         <div class="container w-72 mx-auto rounded-xl  overflow-hidden hover:shadow-2xl transform hover:scale-105 duration-500">
            <img class="" src="/images/starlights1.jpeg" >
         </div>
         <div class="text-center pt-2">
           <p class="text-base text-gray-200 font-light mb-2 p-2">旅行資訊</p>
         </div>
       </div>
       <div class="w-full bg-gray-800 rounded-lg sahdow-lg flex flex-col pt-9">
         <div class="container w-72 mx-auto rounded-xl  overflow-hidden hover:shadow-2xl transform hover:scale-105 duration-500">
           <img class="" src="/images/starlights2.jpeg" >
         </div>
         <div class="text-center pt-2">
           <p class="text-base text-gray-200 font-light mb-2 p-2">旅行前登入行程管理預選餐點，一鍵即響知名餐廳主廚聯手打造的機上星級美味</p>
         </div>
       </div>
       <div class="w-full bg-gray-800 rounded-lg sahdow-lg flex flex-col pt-9">
         <div class="container w-72 mx-auto rounded-xl  overflow-hidden hover:shadow-2xl transform hover:scale-105 duration-500">
           <img class="" src="/images/starlights3.jpeg" >
         </div>
         <div class="text-center pt-2">
           <p class="text-base text-gray-200 font-light mb-2 p-2">星辰航空榮獲WTTC國際安全旅遊戳記，共同推動疫後台灣觀光旅遊發展</p>
         </div>
       </div>
     </div> 
    <div id="Modal" class="modal">
      <div class="modal-content h-4/5 overflow-auto">     
        <div class="flex py-3 px-3">
          <img class="w-1/2 flex justify-center rounded-md" src="/images/england2.png">
          <div> 
            <h1 class="text-2xl text-center">大笨鐘</h1>
            <p class="pt-2 pl-5 whitespace-pre-wrap">位於英國英格蘭倫敦市區國會大樓的西敏廳外側，自從1859年5月31日首次響起以來，大笨鐘就一直是世界聞名的英國文化象徵。這座鐘樓高315英尺，距高334英尺，直到鐘樓的地面。大笨鐘由英國建築師奧古斯都·普金(Augustus Pugin)設計，採用新哥德式風格建造，建成後以用作城市的標準時鐘。它包括四個鐘面，每個鐘面裝有312塊玻璃，分針長14英尺，數字長約23英寸。在夜間以及英國國會開會期間，燈光照亮了鐘面。
            <br>來到英國倫敦這個既現代化卻又不失迷人風情的城市，可要花點時間在這邊的街道上漫步欣賞令人陶醉的市景，除了可前往大笨鐘和國會大樓這兩個英國倫敦著名的旅遊景點以外，民眾還可計畫前往聖馬丁教堂、聖保羅大教堂、維多利亞與亞伯特博物館、國家畫廊、倫敦博物館、大英博物館、科芬園、杜莎夫人蠟像館、西敏寺、白金漢宮、倫敦塔和海德公園，一覽英國倫敦的特色所在。</p>
          </div>
          <span class="close_btn">&times;</span>
        </div>
        <div class="flex flex-row-reverse py-3 px-3">
          <img class="w-1/2 flex justify-center rounded-md" src="/images/england3.png">
          <div class=""> 
            <h1 class="text-2xl text-center">炸魚薯條(Fish & Chips)</h1>
            <p class="pt-2 pr-5 whitespace-pre-wrap ">炸魚薯條Fish and Chips是英國最普遍的食物，也是一般人最常當成正餐的食物。在英國的路邊外帶店裡買一份用報紙包好的炸魚薯條，是最「正統」的吃法。炸魚一般是用黑線鱈Haddock、鱈魚Cod、比目魚Sole等白肉魚，傳統的做法是將魚片裹上一層厚厚的麵漿，炸得膨膨的，灑上鹽和黑胡椒供食，炸魚薯條的外賣店起源於十八世紀末工業革命時，這些小店供給工人們一些便宜、迅速的餐點，普遍廉價的馬鈴薯使得炸薯條順理成章的也成為配餐。這二樣均是盛產而平價的組合成為經典。
            <br>各國對於炸魚薯條都有一些堅持，比利時人堅持用某種馬鈴薯製作「最好吃」的薯條，加拿大人偏愛用盛產的紅肉鮭魚來炸，丹麥人則愛用比目魚；醬料方面，英格蘭愛用鹽和番茄醬、蘇格蘭則是麥芽醋對白醋的混合調料，美國人則愛用塔塔醬和麥芽醋、加拿大人灑檸檬汁。
            </p>
          </div>
        </div>      
      </div>
    </div>

    <div id="Modal2" class="modal2">
      <div class="modal-content2 h-4/5 overflow-auto">     
        <div class="flex py-3 px-3">
          <img class="w-1/2 flex justify-center rounded-md" src="/images/thailand2.jpeg">
          <div> 
            <h1 class="text-2xl text-center">鄭王廟</h1>
            <p class="pt-2 pl-5 whitespace-pre-wrap">鄭王廟(Wat Arun)位於泰國中部地區曼谷市艾縣、湄南河支流昭披耶河西岸，又稱為「鄭王寺」、「黎明寺」或「曉廟」，供奉印度教中的黎明神－鄭王，是泰國規模最大的大乘舍利式塔，擁有「泰國艾菲爾鐵塔」的美稱；鄭王廟豐富的歷史文化，是孟庫國王時代最令人讚嘆的文化遺產，也是昭披耶河畔最古老的建築、參觀人數最多的寺廟，鄭王廟的建築特色和人文歷史，更是來到泰國曼谷旅遊的民眾不可不去的景點之一。
            <br>民眾來到泰國旅遊，除了可前往曼谷的鄭王廟以外，還可前往湄南河、鄭王廟、東芭樂園、大理石寺、金沙島、大城、維曼默宮、皇宮玉佛寺、賽福瑞野生動物園和金山塔廟等等，體驗曼谷的民俗風情；或者也可前往泰國普吉島，如神仙半島、普吉水族館、割喉島、幻多奇主題樂園、巴東海灘、白菜島、普吉機場、月牙灣、差龍廟、P.P.島、慶祖廟等等普吉旅遊景點，讓泰國旅遊更加迷人喔！</p>
          </div>
          <span class="close_btn2">&times;</span>
        </div>
        <div class="flex flex-row-reverse py-3 px-3">
          <img class="w-1/2 flex justify-center rounded-md" src="/images/thailand3.png">
          <div class=""> 
            <h1 class="text-2xl text-center">冬陰功湯(Tom yum goong)</h1>
            <p class="pt-2 pr-5 whitespace-pre-wrap ">地處熱帶的泰國，因為天氣濕熱的關係，在飲食上也發展出了重酸和重辣的料理，尤其仔細拆解tom yum（冬蔭）這兩個泰國字－tom代表煮；yum則帶有將各種東西混合在一起呈現出甜、酸、辣的口感，在「Tom Yam」後面添加「goong」（蝦）這個詞，這樣就是甜、酸、辣蝦湯的意思，你會發現泰國字的精妙之處，竟然能內涵這麼多的味道。
            <br>tom yum（冬蔭）香包含檸檬草、南薑和泰國清檸；檸檬汁和羅望子醬則是酸味來源；棕櫚糖則是帶出甜味，辣味的來源想當然就是辣椒。以上這些食材烹煮在一起本身清爽不帶濃稠，所以可想而知，傳統的tom yum（冬蔭）其實是清湯的一種，現在常見的濃湯，通常都是加了椰漿、淡奶讓湯頭呈現濃郁豐富的口感。
            </p>
          </div>
        </div>      
      </div>
    </div>

    <div id="Modal3" class="modal3">
      <div class="modal-content3 h-4/5 overflow-auto">     
        <div class="flex py-3 px-3">
          <img class="w-1/2 flex justify-center rounded-md" src="/images/japan2.jpeg">
          <div> 
            <h1 class="text-2xl text-center">晴空塔</h1>
            <p class="pt-2 pl-5 whitespace-pre-wrap">東京晴空塔又稱東京天空樹，是一座位於東京墨田區的電視塔，總建築高度達634公尺，於2011年獲得金氏世界記錄認證為「世界第一高塔」，色彩以白色基調為主，再佐以藍色渲染效果，呈現白中透藍的視覺景象，灰色的EV軸柱與金屬色系的展望台充分和白色的塔身融合，讓晴空塔綻放出華麗的景象；夜晚的晴空塔則以新型態的燈光照明點亮高塔，再結合環保節能與美觀的設計理念，讓東京晴空塔永遠閃耀出動人的光芒!
            <br>東京是日本的首都，也是許多人第一次到日本旅遊時選擇的地點，完整便利的交通動線，多樣化的人文地理與全球知名的日本料理美食，還有品質保證的商品購物環境等等，都是東京旅遊受歡迎的原因之一。欲前往東京晴空塔旅遊，別忘了順遊附近的淺草、秋葉原、上野等地區，著名的淺草寺、上野動物園、東京國立博物館與日本最大的電器街-秋葉原，都是感受當地文化與市民風情的最佳好去處。</p>
          </div>
          <span class="close_btn3">&times;</span>
        </div>
        <div class="flex flex-row-reverse py-3 px-3">
          <img class="w-1/2 flex justify-center rounded-md" src="/images/japan3.png">
          <div class=""> 
            <h1 class="text-2xl text-center">拉麵</h1>
            <p class="pt-2 pr-5 whitespace-pre-wrap ">而拉麵這個名詞首次出現是在大正年代，一九一八年時，據說最早的出現地是橫濱。首先流行吃拉麵的是東京人。最早的拉麵屋，就是明治43年在東京淺草的來來軒，這家店把日本傅統的湯頭—柴魚、昆布高湯、混入豬骨或雞骨高湯，而成為東京風味的醬油拉麵，就是從此開始。日式拉麵大抵來說，可分成北、中、南三大地理區，初期開業的型態，以屋台（路邊攤）的方式來販售，所以至今仍然可在上野、橫濱的屋台街吃到這樣的拉麵。
            <br>· 北海道擁有全日本最佳的氣侯、土壤、水源，代表麵種”味噌拉麵”。<br>· 東京正油味拉麵－屬於關東風味，是日本拉麵的始祖，許多拉麵的店家一定會有這一款拉麵。<br>· 日本的南部（九州、博多）一帶，夏季多是較炎熱的季風氣候，其中北海道利西里島的麻辣拉麵更是特別，特制的辣粉，麻而不辣，絕對讓你讚不絕口。
            </p>
          </div>
        </div>   
      </div>
    </div>

    <div id="Modal4" class="modal4">
      <div class="modal-content4 h-4/5 overflow-auto">     
        <div class="flex py-3 px-3">
          <img class="w-1/2 flex justify-center rounded-md" src="/images/korea2.png">
          <div> 
            <h1 class="text-2xl text-center">東大門</h1>
            <p class="pt-2 pl-5 whitespace-pre-wrap">東大門原名為興仁之門，是韓國首都首爾八大城門之一，朝鮮時代因防禦首都而興建的城牆，從1396年建立至今已有600多年的歷史，現在的東大門是經過多次重新翻修後建造而成的。目前東大門僅剩保護牆和城門，並被南韓政府指定為國寶第一號，而鄰近的地區因逐漸發展也成為韓國最大的批發零售區，也是流行文化的指標地，時尚的商品與便宜的價格，吸引許多國外商家來此批貨，而大批觀光遊客更是喜愛到此地來尋寶，千萬種獨特的商品絕對可以讓您逛到心滿意足。
            <br>首爾旅遊除了東大門之外，人氣購物區明洞、南大門、梨泰院對國外旅客都有很大的吸引力，還有首爾代表性建築、古蹟與地標，如N首爾塔、南山公園、光化門廣場、青瓦台、景福宮、汝矣島等地都是遊客必到的地點。其它地區包括釜山、濟洲也都是您到韓國旅遊或是自助行的理想地點喔。</p>
          </div>
          <span class="close_btn4">&times;</span>
        </div>
        <div class="flex flex-row-reverse py-3 px-3">
          <img class="w-1/2 flex justify-center rounded-md" src="/images/korea3.png">
          <div class=""> 
            <h1 class="text-2xl text-center">各式美食</h1>
            <p class="pt-2 pr-5 whitespace-pre-wrap ">· 韓國燒烤又稱朝鮮燒烤，是朝鮮族的一種傳統烤肉方式，常用生鐵鍋、生鐵板、銅板、銅鍋等食器，食材多以醃漬的肉類與海鮮為主，有時佐以醃漬醬料與蔬菜湯汁一起烤食。<br>· 泡菜鍋是一道來自韓國，帶辣味的火鍋。以辛奇為原料，加入蔥、洋蔥、豆腐，海鮮或豬肉兩者其中之一。佐以配菜和米飯。<br>· 蔘雞湯，朝鮮半島的傳統名菜之一，以整隻童子雞，腹中塞入糯米、佐以紅棗、薑、蒜和人蔘長時間燉煮製成。<br>· 辣炒年糕，又叫韓式炒年糕，是一道很受歡迎的韓國小吃，一般能在當地的路邊攤或布帳馬車處買到。這道菜的雛形是燉朝鮮打糕，是用年糕片、肉、蛋和調味料做成的一道燉菜。<br>· 韓式拌飯，是韓國百年歷史的傳統米飯料理，又稱石鍋拌飯、古董飯，是一種著名的韓國菜餚，材料有米飯、炒過並加上調味的蔬菜、牛肉、雞蛋和苦椒醬。可以熱食或冷食，食用時把材料拌勻。
            
            </p>
          </div>
        </div>    
      </div>
    </div>
    <div id="Modal5" class="modal5">
      <div class="modal-content5 h-4/5 overflow-auto">     
        <div class="flex py-3 px-3">
          <img class="w-1/2 flex justify-center rounded-md" src="/images/singaproe2.jpeg">
          <div> 
            <h1 class="text-2xl text-center">魚尾獅</h1>
            <p class="pt-2 pl-5 whitespace-pre-wrap">魚尾獅獅頭魚身的形象起源于馬來語中對新加坡的稱謂，在馬來語中，新加坡被稱作"Singapura(新加坡拉)"，這個單詞的含義是"獅子"，這就是爲什麽新加坡並沒有獅子但卻被成爲獅城的原因。在新加坡共有6座魚尾獅雕像，分布在新加坡旅游局、花柏山和宏茂橋，但是最爲知名和不能錯過的還是濱海灣附近的魚尾獅公園，公園内的魚尾獅雕像高8.8米，重70噸，面向東部濱海灣，眺望著新加坡東部海域，象徵著新加坡人不斷探索的精神，魚尾獅公園和新加坡另一個地標濱海灣金沙隔灣相望，臨近萊佛士地鐵站，交通非常便捷。
            <br>新加坡旅遊除了魚尾獅公園之外，摩天觀景輪、金沙酒店空中花園、濱海灣花園、小印度區、聖淘沙、環球影城、夜間野生動物園，對國外旅客都有很大的吸引力，是一個擁有豐富文化的城市國家，多元民族在此碰撞並存的結果，不僅反映在美食，更反應在這座城市巷弄間，很值得到此來趟精彩豐富的探索旅遊</p>
          </div>
          <span class="close_btn5">&times;</span>
        </div>
        <div class="flex flex-row-reverse py-3 px-3">
          <img class="w-1/2 flex justify-center rounded-md" src="/images/singaproe3.png">
          <div class=""> 
            <h1 class="text-2xl text-center">肉骨茶</h1>
            <p class="pt-2 pr-5 whitespace-pre-wrap ">「肉骨」如其名，是以帶肉的骨配合中藥煲成的湯。而「茶」字則是源自當地一位華人餐廳店主的名字「李文地」，因為賣該種肉骨湯且味道上乘，而被顧客稱作「肉骨地」，福建話中的「地」與「茶」音近，故後來被稱為「肉骨茶」，食材本身並沒有茶葉。肉骨茶混合中藥和香料及肉排熬製多個小時的濃湯，在馬來西亞的一些高級餐館會加入海參和鮑魚一起熬製。
            <br>肉骨茶通常伴白飯或以油條蘸湯來吃。以醬油、碎紅椒和蒜蓉一起調味。通常會奉上中式濃茶解油膩。在馬來西亞，肉骨茶是一道典型的早點菜式。
            </p>
          </div>
        </div>   
      </div>
    </div>
   </section>
</div>