<div class="mt-28"></div>
<section class="text-gray-600 body-font bg-indigo-700 mt-28">
  <div class="flex flex-col ml-28 pt-10 mb-12">
    <h1 class="sm:text-3xl text-2xl font-medium title-font  text-orange-50">旅客支援</h1>
  </div> 
<section class="text-gray-600 body-font bg-indigo-900 ">
  <div class="w-full p-12">
    <div class="max-w-5xl mx-auto px-6 sm:px-6 lg:px-8">
      <div class="bg-orange-50 w-full shadow rounded p-8">
        <h1 class="md:text-3xl text-2xl font-bold text-gray-800 pl-3"> 台北</h1>
          <div class="grid grid-cols-1 gap-8 mt-6">
            <div class="flex flex-col md:flex-row">
              <div class="w-full md:w-6/12 mt-4 md:mt-0 md:ml-4">
                <h2 class="text-lg font-semibold leading-tight text-gray-800">話務服務</h2>
                <p class="leading-normal pt-2">付費專線<br>+886-2-12345678</p>
                <p class="leading-normal pt-2">服務時間<br>週一至週六（含國定假日<br>09:30 - 17:30<br>週日不營業</p>
              </div> 
              <div class="flex flex-col md:flex-row">
                <div class="w-full md:w-6/12 mt-4 md:mt-0 md:ml-4">
                  <h2 class="text-lg font-semibold leading-tight text-gray-800">服務據點</h2>
                  <p class="leading-normal pt-2">地址<br>台北市中山區東西南北路三段168號</p>
                </div>
              </div> 
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
</section>