.aircraft {
  position: relative;
<<<<<<< HEAD
  margin-top: 40px;
  padding-bottom: 40px;
=======
  margin-top: 110px;
>>>>>>> 44a9cb5 (occupied seat booked process)
  margin-left: 180px;
  margin-right: 220px;
  background:rgb(255 247 237);;
  transform: scale(0.8);
  &-body {
<<<<<<< HEAD
    border: 3px solid #c5c5c7;
    min-height: 300px;
    border-right: none;
    border-left: none;
    background: rgb(255 247 237);
  }
=======
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    position: relative;
    // min-width: min-content;
    // margin: auto;
    
    border: 2px solid #c5c5c7;
    min-height: 300px;
    border-right: none;
    border-left: none;
    // padding: 10px;
    background: rgb(255 247 237);
   
    #seats{
      
    }
    
    .seats {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      &:first-child {
        margin-bottom: 20px;
      }
      &-triple {
        margin-right: 20px;
        &::before {
          content: attr(data-line);
          position: relative;
          text-align: center;
          font-family: tahoma;
          left: 15px;
          font-size: 12px;
        }
        &.first-line {
          .seat {
            &::after {
              left: -25px;
            }
          }
        }
        &.last-line {
          .seat {
            &::after {
              right: -52px;
            }
          }
        }
      }
    }
    .seat {
      cursor: pointer;
      border: solid 1px #88857c;
      width: 39px;
      height: 33px;
      border-radius: 4px;
      &.active {
        background: #ffe2ae;
      }
      &.empty {
        background: #e6e7e9;
      }
      padding: 1px;
      margin-top: 6px;
      &::before {
        content: "";
        display: block;
        // width: 30px;
        // height: 26px;
        border: solid 1px #88857c;
        margin: 2px -2px;
        border-left: none;
        border-radius: 0 5px 5px 0;
      }
      &::after {
        position: relative;
        content: attr(data-letter);
        font-family: tahoma;
        top: -25px;
      }
    }
  }
  
>>>>>>> 44a9cb5 (occupied seat booked process)
      
  &-head {
    position: absolute;
    height: 310px;
    width: 330px;
    margin: auto;
    overflow: hidden;
   
    top: -4px;
    left: -330px;

    &-body {
      position: absolute;
      height: 300px;
      width: 548px;
      padding-left: 115px;
      border-radius: 50%;
      right: -300px;
<<<<<<< HEAD
      border: 3px solid #c5c5c7;
=======
      border: 2px solid #c5c5c7;
>>>>>>> 44a9cb5 (occupied seat booked process)
      margin-top: 4px;
      .windows {
        position: absolute;
        top: 70px;
        left: 50px;
      }
      .front-lavatory {
        position: absolute;
        bottom: 15px;
<<<<<<< HEAD
        left: 210px;
=======
        left: 220px;
>>>>>>> 44a9cb5 (occupied seat booked process)
      }
    }
  }
  &-tail {
    position: absolute;
    height: 323px;
    width: 700px;
    margin: auto;
    // overflow: hidden;
    top: -1px;
    right: -320px;
<<<<<<< HEAD
    padding-left: 70px;
=======
    padding-left: 120px;
>>>>>>> 44a9cb5 (occupied seat booked process)
    z-index: -1;
    &-body {
      position: absolute;
      height: 302px;
      width: 548px;
      padding-left: 135px;
      border-radius: 50%;
<<<<<<< HEAD
      border: 3px solid #c5c5c7;
=======
      border: 2px solid #c5c5c7;
>>>>>>> 44a9cb5 (occupied seat booked process)

      .back-lavatory {
        width: 40px;
        height: 98%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
<<<<<<< HEAD
        margin-left: 180px;
=======
        margin-left: 250px;
>>>>>>> 44a9cb5 (occupied seat booked process)
      }
    }
  }
}