<h1>購物車 show 頁面</h1>

<div class="flex flex-col max-w-screen-lg">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full">
          <thead class="border-b">
            <tr>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                商品編號
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                票價
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                總計
              </th>
            </tr>
          </thead>
          <tbody>
            <% current_cart.items.each do |item| %>
              <tr class="border-b">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  <%= item.ticket.ticket_id %>
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  <%= item.ticket.ticket_amount %>
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  <%= item.total_price %>
                </td>
              </tr>
              <% end %>
              <tr class="bg-white border-b">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  總價
                </td>
                <td colspan="2" class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  XXX
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<button class="w-full px-6 py-2 border-2 border-blue-600 text-blue-600 font-medium text-xs leading-normal uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out mb-2 max-w-screen-lg"><%= link_to '結帳', payment_path %></button>
