<h1>Search Result</h1>
<% if @search.search_ticket.empty? %>
  <p> 查無紀錄 </p>
 
<% else %>
  <% @search.search_ticket.each do |ticket| %>
    <div>
      <p><%= ticket.departure %></p>
      <p><%= ticket.arrival %></p>
      <p><%= ticket.departure_date %></p>  
    </div>
<% end %>
<%= link_to "回上頁", new_search_path %>
<% end %>
